html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#main_text
{
  font-size: 16px;
  font-family: 'Arial';
  color: white;
}

#input
{
  font-size: 14px;
  font-family: 'Arial';
  color: white;
}

#instruction
{
  font-size: 16px;
  font-family: 'Arial';
  color: #5390D9;
}